asttokens
backcall
Bottleneck
colorama
comm
contourpy
cycler
debugpy
decorator
exceptiongroup
executing
fonttools
h5py==3.9.0
importlib-metadata
importlib_resources
imutils==0.5.4
ipykernel
ipython
jedi
jupyter_client
jupyter_core
kiwisolver
matplotlib
matplotlib-inline
mkl-fft
mkl-random
mkl-service==2.4.0
nest-asyncio
numexpr
numpy==1.26.4
opencv-python==4.8.0.74
packaging
pandas==2.2.2
parse==1.19.1
parso
pickleshare
pillow
platformdirs
ply==3.11
prompt-toolkit
psutil
pure-eval
Pygments
pyparsing
PyQt5==5.15.10
PyQt5-sip
python-dateutil
pytz
pywin32==305
pyzmq
requests
scipy==1.11.1
sip
six
stack-data
tomli
tornado
tqdm
traitlets
typing_extensions
tzdata
unicodedata2
wcwidth
zipp